<h1>New message</h1>
<%= simple_form_for @message do |f| %>
  <%= f.input :email, label: 'Destination email', placeholder: 'email@example.com', hint: 'Only contato@thiagobelem.net will work' %>
  <%= f.input :subject, placeholder: 'My awesome subject' %>
  <%= f.input :content, as: :text, placeholder: 'My awesome message' %>
  <%= f.submit 'Send message' %>
<% end %>
