<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to(image_tag('logo.png'), root_path, class: 'logo') %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to('New message', new_messages_path) %></li>
        <li class="nav-link"><%= link_to('Check email', '#') %></li>
        <li class="nav-link"><%= link_to('Email history', '#') %></li>
        <li class="nav-link"><%= link_to('Events log', '#') %></li>
      </ul>
    </nav>
  </div>
</header>
